coverage.json
.env
cache
build
yarn.lock
node_modules
coverage.json
coverage
.coverage_*
artifacts/
docs/interfaces
docs/mocks
deploy_parameters.json
upgrade_parameters.json
docker/gethData/
*.ignore/
typechain-types/
create_rollup_parameters.json

